<?xml version="1.0" encoding="UTF-8"?>
<Configuration monitorInterval="30">

    <Properties>
        <Property name="idp.log.instanceId">eeIdP</Property>
        <Property name="idp.log.dir">/var/log/idp</Property>
        <Property name="idp.log.pattern">{&quot;date&quot;:&quot;%d{yyyy-MM-dd'T'HH:mm:ss,SSSZ}&quot;, &quot;level&quot;:&quot;%level&quot;%notEmpty{, &quot;request&quot;:&quot;%enc{%X{request}}{JSON}&quot;}%notEmpty{, &quot;requestId&quot;:&quot;%X{requestId}&quot;}%notEmpty{, &quot;sessionId&quot;:&quot;%X{sessionId}&quot;}, &quot;logger&quot;:&quot;%logger&quot;, &quot;thread&quot;:&quot;%thread&quot;, &quot;instance&quot;:&quot;${sys:idp.log.instanceId}&quot;, &quot;message&quot;:&quot;%enc{%message}{JSON}&quot;%notEmpty{, &quot;throwable&quot;:&quot;%enc{%throwable}{JSON}&quot;}}%n</Property>

        <!-- Uncomment when using syslog appender; Pattern for syslog appender; Note that the syslog facility code is constant: 'local1' (17) and syslog priority is assigned error (3) in case of ERROR level, otherwise 'notice' (5) shall be used) -->
        <!-- Property name="idp.syslog.pattern">&lt;%level{WARN=141, DEBUG=141, ERROR=139, TRACE=141, INFO=141}&gt;1 %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} ${hostName} rak-eeIdp.log - - - ${sys:idp.log.pattern}</Property-->
    </Properties>

    <Appenders>
        <RollingFile name="idpFile" append="true"
                     filePattern="${sys:idp.log.dir}/IdP-%d{yyyy-MM-dd}.log">
            <PatternLayout charset="UTF-8" pattern="${sys:idp.log.pattern}" alwaysWriteExceptions="false"/>
            <CronTriggeringPolicy schedule="0 0 * * * ?"/>
            <DirectWriteRolloverStrategy>
                <Delete basePath="${sys:idp.log.dir}">
                    <IfFileName glob="IdP-*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DirectWriteRolloverStrategy>
        </RollingFile>

        <!-- Example of an appender for sending log events to syslog; uncomment to apply -->
        <!--<Socket name="idpSyslog" host="log-server-host" port="log-server-port" protocol="SSL">
            <PatternLayout charset="UTF-8" pattern="${sys:idp.syslog.pattern}" alwaysWriteExceptions="false"/>
            <SSL>
                <KeyStore location="path-to-keystore" password="changeit"/>
                <TrustStore location="path-to-truststore" password="changeit"/>
            </SSL>
        </Socket>-->
    </Appenders>

    <Loggers>

        <Logger name="IdpStatistics" level="INFO" additivity="false">
            <AppenderRef ref="idpFile"/>

            <!-- Uncomment when using syslog appender and wanting to send ee.ria.IdP events to syslog -->
            <!--<AppenderRef ref="idpSyslog"/>-->
        </Logger>
        <Logger name="ee.ria.IdP" level="INFO" additivity="false">
            <AppenderRef ref="idpFile"/>

            <!-- Uncomment when using syslog appender and wanting to send ee.ria.IdP events to syslog -->
            <!--<AppenderRef ref="idpSyslog"/>-->
        </Logger>

        <Root level="WARN">
            <AppenderRef ref="idpFile"/>

            <!-- Uncomment when using syslog appender and wanting to send non ee.ria.IdP events to syslog -->
            <!--<AppenderRef ref="idpSyslog"/>-->
        </Root>
    </Loggers>

</Configuration>
